<div class = "center">
    <%= form_with(url: "/otp_enter", method:"post") do %>
        <input id="token" type="hidden" value = "#{@pass}" />
        <%= label_tag("Enter OTP") %><br/>
        <%= text_field_tag(:data) %>
        <%= submit_tag("Send") %>
    <% end %>
</div>