<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>You have recently subscribed for the item <%= @item.name %></h2>
    <p>
      For morre information visit the website at <%= @url %>.
    </p>
    <p>Thanks for subscribing and have a great day!</p>
  </body>
</html>