<p>
  <strong>Wname:</strong>
  <%= @wishlist.wname %>
</p>

<p>
  <strong>Wishlistitem:</strong>
  <%= @wishlist.wishlistItem %>
</p>

<%#= link_to 'Edit', edit_wishlist_path(@wishlist) %>
<%= link_to 'Back', items_path %>
